body {
    margin-left: 2rem;
    margin-right: 2rem;
}
.header {
    max-width: 1440px;
    margin: auto;
    padding-left: 5rem;
}
.main {
    max-width: 1440px;
    margin: auto;
}
.topnav-photographe {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    padding-top: 1rem;
}
a{
    color: inherit;
    text-decoration: none;
}
section img {
    display: flex;
    float: left;
    justify-content: center;
    height: 200px;
    width: 200px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    background: #C4C4C4;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
    margin-top: 1rem;
}
#ph-profil {
    height: 268px;
    width: 90%;
    background: #FAFAFA;
    margin: auto;
    margin-top: 2.5rem;
    border-radius: 5px;
    padding: 0 2rem;
}
.name {
    color: #D3573C;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;
    margin-top: 1rem;
    margin-bottom: 0;
}
.ville {
    color: #901C1C;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    margin-top: 0;
    margin-bottom: 3px;
}
.description {
    color: #525252;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}
#contact {
    background: #901c1c;
    border: none;
    border-radius: 5px;
    bottom: 28px;
    color: #fff;
    cursor: pointer;

    width: 170px;
    height: 69px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 250px;
}
/* identical to box height */

.grille-photographe {
    display: flex;
    justify-content: space-between;
}
.profil-photographe {
    display: flex;
    align-items: center;
}
.photo-titre {
    color: #D3573C;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 0;
    margin-left: -13px;
}
.tag {
    margin: 5px;
    border-radius: 11px;
    border: 0.5px solid #C4C4C4;
    background: white;
    
}
#button1 {
    margin-left: 15px;
}

.text-tag {
    color: #901C1C;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 0 .5rem;
    margin: 2.5px;
    border-radius: 12px;
    width: 170px;
    border: 0.5px solid #C4C4C4;
}
.text-tag:first-child {
    margin: 0; 
}
.trie {
    margin: auto;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0 2.5rem;
}
.trie-par {
    padding: 0 2rem 2rem 0rem;
    color: #901C1C;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.filter {
    padding: 0 1rem;
    border-radius: 5px;
    background: #911C1C;
    width: 170px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
/* Main carte  */
#grille-portfolio {
    display: grid;
    column-gap: 2.5rem;
    row-gap: 0rem;
    border-radius: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}
.card-photo-img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    object-position: 40% 40%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    background: #C4C4C4;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
    margin-top: 2rem;
}
.card-photo-video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    object-position: 40% 40%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    background: #C4C4C4;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
    margin-top: 3rem;
    margin-left: 2.5rem;
}
.card-photo {
    margin-bottom: 0;
}
.cadre-photo-titre {
    display: flex;
    justify-content: space-between;
    margin-left: 2.5rem;
    padding-right: 3rem;
    height: 60px;
    width: 350px;
}
.cadre-photo-video {
    display: flex;
    justify-content: space-between;
    margin-left: 2.5rem;
    padding-right: 1rem;
    height: 60px;
    width: 350px;
}
.card-titre {
    color: #911C1C;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    margin-top: 0rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}
.nombre-likes {
    padding-right: 0.5rem;
}
.article-media{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: #911C1C;
    font-style: normal;
    display: flex;
    height: auto;
}

.like-number {
    color: #911C1C;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
}
.likes {
    font-size: 20px;
    font-weight: 700;
}
/* Modal */
.modal-titre{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 50px;
    color: #000000;
    margin-top: 15px;
    margin-left: 35px;
    margin-bottom: 54px;
}
.modal-photographes{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 0px;
    color: #000000;
    margin-top: 0px;
    margin-left: 35px;
    }

#bground {
    display: none;
    position: absolute;
    width: 100%;
    height: 400%;
    left: -7px;
    top: 0px;
    background: rgba(196, 196, 196, 0.4);
}
.article-modal {
    margin: 5% auto;
    width: 669px;
    height: 900px;
    background: #DB8876;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
}
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 42px;
    height: 42px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 5px;
    content: " ";
    height: 60px;
    width: 6px;
    background-color: #fff;
  }
  #form {
      border-color: red;
  }
  
  .close:before {
    transform: rotate(45deg);
  }
  
  .close:after {
    transform: rotate(-45deg);
  }
  .modal-body {
    padding: 15px 4%;
    margin: 15px auto;
  }
  label {   
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    color: #312E2E;
  }
  .text-control {
    margin: 0;
    padding: 8px;
    width: 599px;
    height: 68px;
    border-radius: 5px;
    font-size: 20px;
    height: 48px;
    background: #FFF;
    border-color: white !important
  }
  #text-Message {
    background: #FFFFFF;
    border-radius: 5px;
    width: 600px;
    height: 170px;
    margin: 0;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .btn-submit {
    width: 170px;
    height: 69px;
    border-radius: 5px;
    background: #911C1C;
  }
  .text-send {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF; 
  }